body{
    font-family: Vesper Libre;
    color:#1a1a1a
    line-height: 1.5;
    font-size:1.125rem
}

img {
    width:100%;
}

figcaption{
 font-family:Open sans;
 font-size: .85rem;
 color:#757575;
 text-align: center;
 font-style: italic;
}
.article-category{
    font-size:.85rem;
    border-bottom: 2px solid #ff3530;
    display: inline;
    font-family:Open sans;
    transform: uppercase;
}
.sub-title{
    font-family:Open sans; 
}
.author{
    font-family:Open sans; 
    font-size: .85rem;
    margin-bottom: 0;
}
time{
    font-family:Open sans;  
    font-size: .85rem; 
}

h1{
    font-size: 2.5rem;
    line-height: 1.3;
    margin: 1 rem 0;
}

.sub-title{
    font-weight: bold;
}

a:link{
    color:#1a1a1a;
    text-decoration: underline;  
}

a:hover{
    text-decoration: none;
    color:#ff3530
}

figure{
    margin: 1.25em 0;
}






